.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  
    & form {
      width: 70%;
      padding: 100px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  
      & label {
        color: var(--color);
      }
      & input {
        width: 100%;
        padding: 20px;
        font-size: 18px;
      }
    }
  }