.container{
    width: 90%;
    padding-bottom: 30px;
}
.imgContainer{
    columns:250px;
    margin-top: 7px;
    width: 100%;

    & img{
        width: 100%;
        margin-bottom: 1em;
        border-radius: 4px;

        &:hover{
            cursor: pointer;
        }
    }
}
.imgContainerClose{
    height: 0px !important;
    overflow: hidden;
}